version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: student
      POSTGRES_PASSWORD: securepass
      POSTGRES_DB: web_lab
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  backend:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./server:/app
    command: npm start
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432

  frontend:
    image: nginx:alpine
    volumes:
      - ./public:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8081:80"
